body, h1, h2, h3, h4, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f4f8; 
    color: #333; 
    line-height: 1.6;
}

header {
    background-color: #e0f7fa; 
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    color: #00796b; 
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #00796b;
    font-weight: bold;
}

nav a:hover {
    color: #004d40; 
}

#banner {
    text-align: center;
    padding: 20px;
    background-color: #fff; 
    border-radius: 8px;
    margin: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#psicologo {
    display: flex;
    align-items: center;
    margin: 20px;
    background-color: #ffffff; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#psicologo img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-right: 20px; 
}

h2, h3, h4 {
    color: #00796b; 
}

.container {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.form-section {
    background-color: #e0f7fa; 
    border-radius: 8px;
    padding: 20px;
    width: 40%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.hidden {
    display: none; 
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
}

button {
    padding: 10px;
    background-color: #00796b; 
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #004d40; 
}

footer {
    background-color: #e0f7fa; 
    padding: 20px;
    text-align: center;
}

footer a {
    color: #00796b;
    text-decoration: none;
}

footer a:hover {
    color: #004d40;
}
